@using X.PagedList.Mvc.Core;
@using phantientuan_2110900045.Models;
@model X.PagedList.IPagedList<Ncc>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DanhSachNCC";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách nhà cung cấp</h1>

<h4>
    <a asp-action="ThemNCC">Thêm nhà cung cấp mới</a>
</h4>
<p>@TempData["Message"]</p>

<table class="table">
    <thead>
        <tr>
            <th class="border-top-0">Mã nhà cung cấp </th>
            <th class="border-top-0">Tên nhà cung cấp </th>
            <th>Tùy chỉnh</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>@item.MaNcc</th>
            <th>@item.TenNcc</th>
                <th>
                    <a asp-action="SuaNCC" asp-route-MaNcc="@item.MaNcc">Sửa</a> |
                    <a asp-action="XoaNCC" asp-route-MaNcc="@item.MaNcc">Xóa</a>
                </th>
        </tr>
}
    </tbody>
</table>
<html>
<head>
    <link rel="stylesheet" href="~/LayoutWeb/css/pagination-container.css" asp-append-version="true" />
</head>
<div class="pagination-container">@Html.PagedListPager(Model, Page=>Url.Action("DanhSachNCC",new{page=Page}))</div>
</html>